.pass{
height: 700px;
margin-top: 0;
overflow: scroll;
}

.pass-item{
    margin-top:1.2rem;
    border:1px solid rgb(229,231,235);
    border-radius:5px ;
}

.pass-item p{
    color: var(--heading-color);
    font-size: 1rem;
    margin-left:1rem;
    margin-top: 1rem;
}

.pass-item p span {
    font-style: italic;
    font-weight: 500;
    margin-right: 0.5rem;
}
